@charset "UTF-8";
/*= require normalize-css
 */
/* 設定 */
/* line 1, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 20px;
  background-color: white;
  height: 90px;
  margin-bottom: 60px; }
  @media only screen and (max-width: 750px) {
    /* line 1, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
    header {
      height: 46px;
      padding: 8px 0;
      margin-bottom: 15px; } }
  /* line 13, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
  header .logoarea {
    width: 900px;
    margin: 0 auto; }
    @media only screen and (max-width: 750px) {
      /* line 13, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      header .logoarea {
        width: 95%;
        margin: 0 auto; } }
  /* line 19, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
  header .logo {
    float: left; }
    @media only screen and (max-width: 750px) {
      /* line 19, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      header .logo {
        width: 100%;
        text-align: center;
        float: none; } }
    /* line 25, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
    header .logo a {
      display: block;
      width: 50px; }
      @media only screen and (max-width: 750px) {
        /* line 25, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
        header .logo a {
          margin: 0 auto;
          width: 30px; } }
      /* line 31, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      header .logo a img {
        width: 100%; }

/* --- フッター --- */
/* line 35, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
footer {
  position: relative;
  text-align: center;
  background-color: #0090d5;
  clear: both; }
  /* line 40, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
  footer .nav-to-contact {
    padding-top: 90px; }
    @media only screen and (max-width: 750px) {
      /* line 40, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      footer .nav-to-contact {
        padding: 30px auto 10px auto;
        box-sizing: border-box; } }
    /* line 46, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
    footer .nav-to-contact .contact-ttl p {
      font-size: 26px;
      color: #FFF;
      padding-bottom: 14px;
      letter-spacing: 0.1em;
      margin: 0; }
    @media only screen and (max-width: 750px) {
      /* line 52, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      footer .nav-to-contact .contact-ttl .contact-sub-ttl {
        padding: 0 10px;
        box-sizing: border-box; } }
    /* line 56, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
    footer .nav-to-contact .contact-ttl .contact-sub-ttl p {
      font-size: 16px;
      color: #FFF;
      letter-spacing: 0.2em;
      font-weight: 500;
      padding-bottom: 30px; }
    /* line 63, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
    footer .nav-to-contact .contact-ttl .contact-sub-ttl .footer_cv {
      color: #FFF;
      font-weight: 500;
      font-size: 14px;
      line-height: 72px;
      margin: 20px auto;
      display: block;
      border: 4px solid #FFF;
      width: 392px;
      height: 78px;
      margin-bottom: 60px; }
      @media only screen and (max-width: 750px) {
        /* line 63, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
        footer .nav-to-contact .contact-ttl .contact-sub-ttl .footer_cv {
          width: 100%;
          box-sizing: border-box; } }
      /* line 77, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      footer .nav-to-contact .contact-ttl .contact-sub-ttl .footer_cv:hover {
        background: rgba(255, 255, 255, 0.2);
        color: #FFF;
        -webkit-transform: scale(1.01, 1.01);
        transform: scale(1.01, 1.01);
        -moz-transform: scale(1.01, 1.01);
        -o-transform: scale(1.01, 1.01);
        -ms-transform: scale(1.01, 1.01); }
      /* line 85, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      footer .nav-to-contact .contact-ttl .contact-sub-ttl .footer_cv img {
        width: 24px;
        height: auto;
        position: relative;
        top: 5px;
        margin-right: 10px;
        /*padding-right: 12px; */ }

/* line 93, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
.footer_nav {
  height: 120px;
  line-height: 120px;
  background-color: #1b1b1b;
  border-bottom: solid 1px #1b1b1b; }
  @media only screen and (max-width: 750px) {
    /* line 93, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
    .footer_nav {
      height: auto; } }
  /* line 100, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
  .footer_nav img {
    width: 120px;
    height: auto; }
  /* line 103, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
  .footer_nav ul {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0; }
    /* line 108, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
    .footer_nav ul li {
      vertical-align: top;
      margin-top: 40px;
      padding-right: 20px;
      padding-left: 20px;
      line-height: 30px;
      display: inline-block; }
      @media only screen and (max-width: 750px) {
        /* line 108, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
        .footer_nav ul li {
          padding: 20px 10px;
          line-height: 20px; } }
      /* line 118, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      .footer_nav ul li:first-child {
        padding-left: 40px; }
        @media only screen and (max-width: 750px) {
          /* line 118, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
          .footer_nav ul li:first-child {
            width: 100%;
            text-align: center;
            padding: 0; } }
      /* line 124, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      .footer_nav ul li :nth-child(n+3) {
        border-left: 1px solid #3a3a3a; }
      /* line 126, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
      .footer_nav ul li a {
        font-size: 12px;
        font-weight: 500;
        color: #FFF; }
        /* line 130, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
        .footer_nav ul li a:hover {
          text-decoration: underline; }
  /* line 132, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_header.sass */
  .footer_nav address {
    font-size: 10px;
    display: inline-block;
    color: #999999;
    font-style: normal;
    font-family: "Century Gothic";
    letter-spacing: 1.5px; }

/* line 1, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
.contact-wrap {
  width: 100%;
  margin-bottom: 35px; }
  @media only screen and (max-width: 750px) {
    /* line 1, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
    .contact-wrap {
      margin-bottom: 30px; } }

/* line 6, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
.contact-form {
  width: 600px;
  padding-bottom: 15px;
  margin: 0 auto;
  padding: 10px 50px 40px;
  border: solid 1px #dcdcdc;
  border-top: solid 8px #dcdcdc;
  background-color: white;
  box-sizing: border-box; }
  @media only screen and (max-width: 750px) {
    /* line 6, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
    .contact-form {
      width: 90%;
      margin: 0 auto;
      padding: 10px 10px 40px;
      min-height: auto; } }
  /* line 20, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
  .contact-form img {
    display: block;
    width: 70%;
    margin: 20px auto 35px; }
    @media only screen and (max-width: 750px) {
      /* line 20, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
      .contact-form img {
        width: 100%; } }
  /* line 29, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
  .contact-form form ul {
    padding: 0;
    overflow: hidden;
    margin-bottom: 35px; }
    /* line 33, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
    .contact-form form ul li {
      list-style: none;
      width: 530px;
      float: left; }
      @media only screen and (max-width: 750px) {
        /* line 33, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
        .contact-form form ul li {
          width: 100%;
          float: none; } }
      /* line 40, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
      .contact-form form ul li p {
        margin: 0;
        width: 60px;
        float: left;
        line-height: 35px; }
      /* line 46, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
      .contact-form form ul li input[type="text"] {
        border: solid 1px #dcdcdc;
        padding: 10px;
        box-sizing: border-box;
        width: 438px;
        float: left;
        height: 35px;
        background-color: white; }
        @media only screen and (max-width: 750px) {
          /* line 46, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
          .contact-form form ul li input[type="text"] {
            width: 100%; } }
      /* line 57, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
      .contact-form form ul li input[placeholder="メールアドレス(必須)"] {
        font-size: 12px; }
      /* line 60, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
      .contact-form form ul li textarea[placeholder="お問い合わせ内容(必須)"] {
        font-size: 1em; }
      /* line 63, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
      .contact-form form ul li textarea {
        border: solid 1px #dcdcdc;
        width: 438px;
        float: left;
        height: 35px;
        margin-bottom: 35px;
        padding: 10px;
        background-color: white;
        box-sizing: border-box; }
        @media only screen and (max-width: 750px) {
          /* line 63, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
          .contact-form form ul li textarea {
            width: 100%;
            margin-top: 15px;
            height: 50px; } }
  /* line 76, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
  .contact-form form .button {
    width: 80px;
    margin: 0 auto;
    border-radius: 10px; }
    @media only screen and (max-width: 750px) {
      /* line 76, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
      .contact-form form .button {
        width: 100px; } }
    /* line 83, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
    .contact-form form .button input[type="submit"] {
      -webkit-appearance: none;
      width: 100%;
      background: #2e84d4 !important;
      font-size: 1em;
      border: none;
      color: #FFF !important;
      margin: 0;
      padding: 4px 0;
      display: block;
      letter-spacing: 2px;
      cursor: pointer;
      border-radius: 10px;
      transition-duration: 0.3s;
      transition-property: opacity; }
    /* line 100, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/_contact.sass */
    .contact-form form .button input[type="submit"]:hover {
      opacity: 0.8; }

/* line 14, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
html {
  width: 100%;
  height: 100%; }

/* line 18, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
p, h1, h2, h3 {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  letter-spacing: 0.4; }

/* line 21, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
h1 {
  letter-spacing: 1px; }

/* line 24, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
body {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  margin: 0; }

/* line 33, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
.introduction {
  width: 900px;
  margin: 0 auto 35px auto;
  background-color: white;
  box-sizing: border-box;
  padding-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 750px) {
    /* line 33, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction {
      width: 95%;
      margin: 0 auto 30px auto;
      padding-bottom: 30px; } }
  /* line 44, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .introduction .title-category {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative; }
    /* line 51, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .title-category h1 {
      color: white;
      font-size: 16px;
      margin: 0;
      vertical-align: middle; }
      /* line 56, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .title-category h1::before {
        content: "";
        background-image: url(../senpai-stylesheets/images/microphone.png);
        width: 20px;
        height: 20px;
        display: inline-block;
        background-size: cover;
        vertical-align: middle; }
  /* line 65, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .introduction .introduction_image-wrap {
    width: 88%;
    margin: 20px auto;
    padding: 15px 15px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f5f5f5; }
    @media only screen and (max-width: 750px) {
      /* line 65, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .introduction_image-wrap {
        margin: 10px auto;
        padding: 10px; } }
  /* line 75, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .introduction .introduction_text-wrap {
    width: 88%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; }
    @media only screen and (max-width: 750px) {
      /* line 75, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .introduction_text-wrap {
        padding: 0;
        padding-bottom: 10px; } }
    /* line 83, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .introduction_text-wrap time {
      color: #708090;
      font-size: 10px;
      font-style: italic; }
      /* line 87, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .introduction_text-wrap time::before {
        content: "";
        background-image: url(../senpai-stylesheets/images/clock.png);
        width: 10px;
        height: 10px;
        display: inline-block;
        background-size: cover;
        vertical-align: middle;
        margin-right: 5px; }
    /* line 96, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .introduction_text-wrap .share {
      height: auto;
      background-color: white;
      padding: 10px 0 20px 10px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      margin-left: 0;
      overflow: hidden;
      border-bottom: solid 2px #dcdcdc; }
      /* line 109, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .introduction_text-wrap .share p {
        font-weight: bold;
        color: #708090; }
      /* line 112, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .introduction_text-wrap .share .twitter {
        width: 180px;
        float: left;
        margin-right: 15px; }
        @media only screen and (max-width: 750px) {
          /* line 116, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .introduction .introduction_text-wrap .share .twitter.pc {
            display: none; } }
        /* line 119, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .introduction_text-wrap .share .twitter.sp {
          display: none; }
          @media only screen and (max-width: 750px) {
            /* line 119, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
            .introduction .introduction_text-wrap .share .twitter.sp {
              display: block;
              width: 120px; } }
        @media only screen and (max-width: 750px) {
          /* line 112, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .introduction .introduction_text-wrap .share .twitter {
            margin-right: 0; } }
        /* line 127, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .introduction_text-wrap .share .twitter a.twitter-btn {
          font: normal normal normal 13px/26px "Helvetica Neue", Arial, sans-serif;
          height: 20px;
          width: 120px;
          padding-left: 3px;
          border-radius: 4px;
          box-sizing: border-box;
          position: relative;
          color: #333;
          font-weight: bold;
          cursor: pointer;
          overflow: hidden;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          text-decoration: none;
          background-color: #55acee;
          margin-top: 4px; }
          /* line 145, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .introduction .introduction_text-wrap .share .twitter a.twitter-btn span.label {
            color: white;
            line-height: 20px;
            display: block; }
            /* line 149, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
            .introduction .introduction_text-wrap .share .twitter a.twitter-btn span.label::before {
              content: "";
              display: inline-block;
              width: 17px;
              height: 17px;
              background-image: url(../senpai-stylesheets/images/twitter.png);
              background-size: cover;
              vertical-align: text-bottom;
              margin-right: 5px; }
        /* line 158, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .introduction_text-wrap .share .twitter a {
          display: block; }
          /* line 160, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .introduction .introduction_text-wrap .share .twitter a img {
            width: 40px;
            margin-top: 5px; }
      /* line 163, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .introduction_text-wrap .share .facebook {
        text-align: center;
        width: 105px;
        height: 20px;
        float: left;
        margin-right: 15px;
        margin-top: -4px; }
        @media only screen and (max-width: 750px) {
          /* line 163, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .introduction .introduction_text-wrap .share .facebook {
            margin-top: 0; } }
      /* line 173, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .introduction_text-wrap .share .youtube {
        text-align: center;
        border-radius: 5px;
        background-color: #cd201f;
        width: 60px;
        height: 20px;
        float: left; }
        /* line 181, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .introduction_text-wrap .share .youtube a {
          display: block;
          height: 20px; }
          /* line 184, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .introduction .introduction_text-wrap .share .youtube a img {
            display: block;
            margin: 4px auto;
            height: 12px;
            width: auto;
            line-height: 20px; }
  /* line 191, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .introduction img {
    width: 100%;
    height: auto;
    margin: 0; }
  /* line 194, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .introduction .interview-wrap {
    overflow: hidden;
    width: 372px;
    margin: 50px auto 20px auto;
    border-top: solid 10px #dcdcdc;
    border-bottom: solid 10px #dcdcdc;
    position: relative;
    padding: 15px 0; }
    @media only screen and (max-width: 750px) {
      /* line 194, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .interview-wrap {
        width: 95%;
        margin: 30px auto; } }
    /* line 205, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .interview-wrap .interviewee, .introduction .interview-wrap .interviewer {
      width: 106px;
      float: left;
      box-sizing: border-box;
      text-align: center; }
      @media only screen and (max-width: 750px) {
        /* line 205, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .interview-wrap .interviewee, .introduction .interview-wrap .interviewer {
          width: 36%; } }
      /* line 212, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .interview-wrap .interviewee h3, .introduction .interview-wrap .interviewer h3 {
        color: #708090;
        font-size: 1em; }
      /* line 215, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .interview-wrap .interviewee p, .introduction .interview-wrap .interviewer p {
        background-color: white;
        border: none;
        border-radius: 0;
        padding: 0; }
    /* line 220, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .interview-wrap .interviewer {
      margin-right: 80px; }
      @media only screen and (max-width: 750px) {
        /* line 220, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .interview-wrap .interviewer {
          margin-right: 18%; } }
    /* line 224, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .interview-wrap .interviewee {
      margin-left: 80px; }
      @media only screen and (max-width: 750px) {
        /* line 224, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .interview-wrap .interviewee {
          margin-left: 10%; } }
  /* line 228, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .introduction h2 {
    color: black;
    border-bottom: solid 5px #f5f5f5; }
  /* line 231, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .introduction .textwrap {
    overflow: hidden; }
    /* line 233, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .textwrap p {
      margin: 0;
      margin-top: 20px;
      height: auto;
      border-top: solid 1px #708090;
      font-weight: bold;
      color: #708090; }
      /* line 240, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .textwrap p span.jukensei {
        display: block;
        color: white;
        width: 80px;
        height: 20px;
        background-color: #008bd0;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        margin: 0 auto 5px auto; }
      /* line 250, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction .textwrap p span.sotsugyousei {
        display: block;
        color: white;
        width: 80px;
        height: 20px;
        background-color: #ff1493;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        margin: 0 auto 5px auto; }
      @media only screen and (max-width: 750px) {
        /* line 233, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .textwrap p {
          background-color: #f5f5f5;
          border-radius: 20px;
          width: 100%;
          float: none;
          padding: 10px;
          box-sizing: border-box; } }
    /* line 267, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .textwrap .kouhai {
      width: 100px;
      height: 100px;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #008bd0;
      margin: 0 auto; }
      @media only screen and (max-width: 750px) {
        /* line 267, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .textwrap .kouhai {
          width: 110px;
          height: 110px; } }
    /* line 278, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .introduction .textwrap .senpai {
      width: 100px;
      height: 100px;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #ff1493;
      margin: 0 auto; }
      @media only screen and (max-width: 750px) {
        /* line 278, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .introduction .textwrap .senpai {
          width: 110px;
          height: 110px; } }
  /* line 290, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .introduction p.yajirushi {
    position: absolute;
    width: 70px;
    top: 45px;
    color: #a9a9a9;
    font-weight: bold;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 70px; }
    @media only screen and (max-width: 750px) {
      /* line 290, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .introduction p.yajirushi {
        width: 70px;
        top: 50px; } }

/* line 303, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
p.update {
  text-align: center;
  color: #708090;
  margin: 30px 0; }

/* line 307, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
.contents {
  width: 900px;
  margin: 0 auto 35px auto;
  background-color: white;
  padding: 35px 40px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
overflow: hidden;}
  @media only screen and (max-width: 750px) {
    /* line 307, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .contents {
      width: 95%;
      margin: 0 auto 30px auto;
      padding: 20px 10px; } }
  /* line 318, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .contents img {
    width: 100%;
    height: auto;
    margin: 0px 0 45px;
  clear: both;}
    @media only screen and (max-width: 750px) {
      /* line 318, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .contents img {
        margin: 20px 0; } }
  /* line 323, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .contents .interview-wrap {
    overflow: hidden; }
    /* line 325, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .contents .interview-wrap .interviewee, .contents .interview-wrap .interviewer {
      width: 150px;
      float: left; }
      /* line 328, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .contents .interview-wrap .interviewee h3, .contents .interview-wrap .interviewer h3 {
        color: #008bd0;
        font-size: 1em; }
  /* line 331, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .contents strong {
    font-size: 1.5em;
    line-height: 36px;
    display: block;
    color: black;
    border-left: solid 8px #ff1493;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 30px;
  clear: both;}
  /* line 338, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .contents  p {
      width: 720px;
      float: left;
      margin: 0 0 30px 0;
      }


      @media only screen and (max-width: 750px) {
        /* line 343, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .contents p {
          background-color: #f5f5f5;
          border-radius: 20px;
          width: 100%;
          float: none;
          padding: 10px;
          box-sizing: border-box;
          margin-top: 20px;
          margin-bottom: 60px;} }
    /* line 355, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .contents p.kouhai::before {
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      background-size: cover;
      border-radius: 50px;
      border: solid 3px #008bd0;
      float: left;
      margin-right: 30px; }
      @media only screen and (max-width: 750px) {
        .contents p.kouhai::before {
          margin-top: -30px;
        }
      }
    /* line 370, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .contents p.senpai::before {
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      background-size: cover;
      border-radius: 50px;
      border: solid 3px #ff1493;
      float: left;
      margin-right: 30px;
     }

     @media only screen and (max-width: 750px) {
       .contents p.senpai::before {
         margin-top: -30px;
       }
     }

/* line 372, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
.other-contents {
  width: 900px;
  margin: 0 auto 60px auto;
  background-color: white;
  padding-top: 30px;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  padding-left: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 750px) {
    /* line 372, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .other-contents {
      width: 95%;
      margin: 30px auto 30px;
      padding: 0;
      box-sizing: border-box; } }
  /* line 387, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .other-contents .recommend-wrap {
    width: 100%;
    margin: 0 auto;
    border: solid 1px #f5f5f5;
    border-top: solid 5px rgba(0, 0, 0, 0.8); }
    @media only screen and (max-width: 750px) {
      /* line 387, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents .recommend-wrap {
        border: none;
        border-top: solid 5px rgba(0, 0, 0, 0.8); } }
  /* line 395, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .other-contents h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    border-bottom: solid 1px #f5f5f5;
    margin: 0;
    padding: 10px;
    padding-left: 15px; }
    /* line 402, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .other-contents h2::before {
      content: "";
      background-image: url(../senpai-stylesheets/images/note.png);
      width: 24px;
      height: 30px;
      display: inline-block;
      background-size: cover;
      vertical-align: middle;
      margin-right: 5px; }
  /* line 413, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .other-contents ul {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    box-sizing: border-box; }
    /* line 419, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .other-contents ul li {
      width: 50%;
      float: left;
      list-style: none;
      box-sizing: border-box;
      border-bottom: solid 1px #f5f5f5;
      padding: 10px 0; }
      /* line 426, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents ul li:nth-child(2n+1) {
        padding-right: 1%;
        border-right: solid 1px #f5f5f5; }
        @media only screen and (max-width: 750px) {
          /* line 426, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .other-contents ul li:nth-child(2n+1) {
            border-right: none;
            padding-right: 0; } }
      /* line 432, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents ul li:nth-child(2n) {
        padding-left: 1%; }
        @media only screen and (max-width: 750px) {
          /* line 432, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .other-contents ul li:nth-child(2n) {
            border-right: none;
            padding-right: 0; } }
      /* line 437, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents ul li:nth-child(5) {
        border-bottom: none; }
      /* line 439, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents ul li:nth-child(6) {
        border-bottom: none; }
      @media only screen and (max-width: 750px) {
        /* line 419, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents ul li {
          width: 100%;
          padding: 0;
          border-bottom: solid 1px #708090; } }
      /* line 445, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents ul li a {
        width: 100%;
        height: 180px;
        display: block;
        text-decoration: none;
        padding: 5px;
        border-bottom: solid 5px white;
        box-sizing: border-box;
        transition-duration: 0.3s;
        transition-property: border;
        overflow: hidden; }
        @media only screen and (max-width: 750px) {
          /* line 445, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .other-contents ul li a {
            height: auto; } }
        /* line 458, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents ul li a:hover {
          border-bottom: solid 5px #0090d5; }
        /* line 460, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents ul li a img {
          margin: 0;
          width: 45%;
          height: auto;
          float: left; }
          @media only screen and (max-width: 750px) {
            /* line 460, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
            .other-contents ul li a img {
              width: 100%;
              height: auto;
              float: none; } }
        /* line 467, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents ul li a .recommend-article_textwrap {
          width: 55%;
          float: left;
          padding-left: 15px;
          box-sizing: border-box; }
          @media only screen and (max-width: 750px) {
            /* line 467, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
            .other-contents ul li a .recommend-article_textwrap {
              width: 100%;
              float: none;
              padding-left: 0; } }
          /* line 476, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .other-contents ul li a .recommend-article_textwrap h3 {
            font-size: 14px;
            font-weight: bold;
            color: #0090d5;
            margin: 0; }
          /* line 481, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .other-contents ul li a .recommend-article_textwrap p {
            font-size: 12px;
            font-weight: normal;
            color: black; }
          /* line 485, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .other-contents ul li a .recommend-article_textwrap time {
            color: #708090;
            font-size: 10px;
            font-style: italic; }
            /* line 489, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
            .other-contents ul li a .recommend-article_textwrap time::before {
              content: "";
              background-image: url(../senpai-stylesheets/images/clock.png);
              width: 10px;
              height: 10px;
              display: inline-block;
              background-size: cover;
              vertical-align: middle;
              margin-right: 5px; }
  /* line 498, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
  .other-contents .share {
    height: auto;
    background-color: white;
    padding: 10px 0 20px 10px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    overflow: hidden; }
    /* line 509, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .other-contents .share p {
      font-weight: bold;
      color: #708090; }
    /* line 512, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .other-contents .share .twitter {
      width: 180px;
      float: left;
      margin-right: 15px; }
      @media only screen and (max-width: 750px) {
        /* line 516, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents .share .twitter.pc {
          display: none; } }
      /* line 519, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents .share .twitter.sp {
        display: none; }
        @media only screen and (max-width: 750px) {
          /* line 519, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .other-contents .share .twitter.sp {
            display: block;
            width: 105px; } }
      /* line 525, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents .share .twitter a.twitter-btn {
        font: normal normal normal 13px/26px "Helvetica Neue", Arial, sans-serif;
        height: 20px;
        width: 120px;
        padding-left: 3px;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        color: #333;
        font-weight: bold;
        cursor: pointer;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        text-decoration: none;
        background-color: #55acee;
        margin-top: 4px; }
        /* line 543, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents .share .twitter a.twitter-btn span.label {
          color: white;
          line-height: 20px;
          display: block; }
          /* line 547, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
          .other-contents .share .twitter a.twitter-btn span.label::before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            background-image: url(../senpai-stylesheets/images/twitter.png);
            background-size: cover;
            vertical-align: text-bottom;
            margin-right: 5px; }
      /* line 556, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents .share .twitter a {
        display: block; }
        /* line 558, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents .share .twitter a img {
          width: 40px;
          margin-top: 5px; }
    /* line 561, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .other-contents .share .facebook {
      text-align: center;
      width: 105px;
      height: 20px;
      float: left;
      margin-right: 15px;
      margin-top: -4px; }
      @media only screen and (max-width: 750px) {
        /* line 561, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents .share .facebook {
          margin-top: 0; } }
    /* line 571, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
    .other-contents .share .youtube {
      text-align: center;
      border-radius: 5px;
      background-color: #cd201f;
      width: 60px;
      height: 20px;
      float: left; }
      /* line 579, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
      .other-contents .share .youtube a {
        display: block;
        height: 20px; }
        /* line 582, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
        .other-contents .share .youtube a img {
          display: block;
          margin: 4px auto;
          height: 12px;
          width: auto;
          line-height: 20px; }

/* line 592, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
span.red {
  color: #ff1493;
  font-weight: bold; }
/* line 595, /Users/c5_yuk/yuWorks/aogijuku/source/stylesheets/all.sass */
span.blue {
  color: #008bd0;
  font-weight: bold; }
